*{
    font-family: "Reenie Beanie", cursive;
}

h1, h2, h3, .h1, .h2, .h3{
    font-family: "Covered By Your Grace", cursive;
}


:root{
    --jasper: rgb(255, 102, 0);
    --gunmetal: rgb(23, 23, 23);
    --ashGray: rgb(165, 161, 160);
    --mintGreen: rgb(221, 255, 247);
}



/* Custom bg colors */
.bg-jasper{
    background-color: var(--jasper);
}

.bg-gunmetal{
    background-color: var(--gunmetal);
}

.bg-ashGray{
    background-color: var(--ashGray);
}

.bg-mintGreen{
    background-color: var(--mintGreen);
}


/* Custom Text Colors */
.text-jasper{
    color: var(--jasper);
}

.text-gunmetal{
    color: var(--gunmetal);
}

.text-ashGray{
    color: var(--ashGray);
}

.text-mintGreen{
    color: var(--mintGreen);
}

body{
    background-color: var(--gunmetal);
}


/* NAVBAR */

#collapse{
    transition: 1s;
}

.navbar{
    height: 100px;
    transition: 1s;
}

.navbar-toggler{
    border: 3px solid var(--ashGray);
    background-color: var(--jasper);
}

.navbar-toggler:hover{
    background-color: var(--ashGray);
    border-color: var(--mintGreen);
    transition: 0.5s;
}

.nav-link{
    color: var(--jasper);
    font-weight: 700;
    font-size: 30px;
}

.nav-link:hover{
    color: var(--mintGreen) !important;
    text-shadow: 4px 4px 8px var(--jasper), -2px -2px 8px var(--jasper);
    transition: 0.7s;
}

.logo{
    width: 50px;
    transition: 0.5s;
}

.logoSmall{
    width: 35px;
    transition: 0.5s;
}

.logo-panther{
    width: 50px;
    transition: 1s;
}

.logo-panther2{
    width: 51px;
    transition: 1s;
}

/* NAVBAR END */





/* Header */

.header{
    background-image: url(./Media/pos-panther-art2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.vh-custom{
    min-height: 100vh;
}

.btn-custom{
    color: var(--gunmetal);
    background-color: var(--ashGray);
    border: 2px solid var(--gunmetal);
    border-radius: 40px;
    margin: 0px 15px;
    width: 200px;
    font-size: 20px;
    transition: 0.5s;
}

.btn-custom:hover{
    color: var(--mintGreen);
    text-shadow: 4px 4px 8px var(--jasper), -2px -2px 8px var(--jasper);
    background-color: var(--ashGray);
    border: 2px solid var(--mintGreen);
    transform: scale(1.2);
}

/* Header END */




/* 3 Coloumn section */

.positioned{
    position: relative;
    top: -150px;
}

.col-custom{
    padding: 10px;
    border: 1px solid var(--ashGray);
    cursor: pointer;
    transition: 0.7s;
}

.col-custom:hover{
    transform: scale(1.1);
    background-color: var(--ashGray);
    color: var(--mintGreen);
    text-shadow: 4px 4px 8px var(--jasper), -2px -2px 8px var(--jasper);
    border: 2px solid var(--mintGreen);
}

/* 3 Coloumn section END */




/* Sezione Numeri Incrementali */

.Times-New-Roman{
    font-family: 'Times New Roman', Times, serif;
    
}

.numbers{
    font-size: 80px;
    font-weight: 900;
}

/* Sezione Numeri Incrementali END */


/* Recensioni e Swiper */

.swiper{
    height: 600px;
}

.swiper-slide{
    color: var(--mintGreen);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-review{
    height: 250px;
    width: 500px;
    border: 2px solid var(--mintGreen);
    border-radius: 20px;
}

.lead2{
    font-size: 30px;
}

.fa-star{
    font-size: 20px;
}





/* Media queries */

@media screen and (min-width: 992px){
    .logo-panther{
        display: none;
    }
}

@media screen and (max-width: 600px){

    .btn-custom{
        color: var(--gunmetal);
        background-color: var(--ashGray);
        border: 2px solid var(--gunmetal);
        border-radius: 20px;
        margin: 0px 15px;
        width: 200px;
        font-size: 16px;
        transition: 0.5s;
    };

    .btn-custom:hover{
        color: var(--mintGreen);
        text-shadow: 4px 4px 8px var(--jasper), -2px -2px 8px var(--jasper);
        background-color: var(--ashGray);
        border: 2px solid var(--mintGreen);
        transform: none;
    };

    .header{
        background-size: contain;
        background-image: url(./Media/POS-Panther-AlbumCover-Web.webp);
        margin-top: 50px;
    }

    .vh-custom{
        min-height: 50vh;
    }

    .h1-custom{
        display: none;
    }

}

@media screen and (max-width: 460px){
    .h1-custom{
        display: none;
    }

    .positioned{
        position: static;
    }

    
    .swiper{
        height: 300px;
    }
}
